{% extends "survey/base.html" %}{% load i18n %}
{% block styles %}
<style type="text/css">
input[type="radio"] { vertical-align: top; }
</style>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>

<form method="post" class="focus-input" action="">
    {% trans 'Are you sure you want to delete this image ?' %}
    <img src="{{ object.get_image_url }}"/>

<div class="submit-row"><input type="submit" value="{% trans 'Delete' %}" class="default" name="__delete" /></div>
</form>
{% endblock %}
